# General
*.patch

# BIOS stuff
package/
lib/
bin/
.libraries*
.dlls
.executables
.interfaces
.xdcenv.mak
package.mak
packages/ti/sdo/*/*.p*
packages/ti/sdo/ipc/family/doc-files/procNames.html
packages/ti/sdo/ipc/*.h
packages/ti/sdo/ipc/*/*.h
packages/ti/sdo/ipc/*/*/*.h
packages/ti/sdo/utils/*.h
packages/ti/deh/*.h
packages/ti/ipc/family/omapl138/VirtQueue.h
packages/ti/ipc/family/tci6614/Interrupt.h
packages/ti/ipc/family/tci6614/NotifySetup.h
packages/ti/ipc/family/tci6614/VirtQueue.h
packages/ti/ipc/family/tci6638/Interrupt.h
packages/ti/ipc/family/tci6638/NotifyCircSetup.h
packages/ti/ipc/family/tci6638/VirtQueue.h
packages/ti/ipc/namesrv/NameServerRemoteRpmsg.h
packages/ti/ipc/remoteproc/Resource.h
packages/ti/ipc/transports/TransportRpmsg.h
packages/ti/ipc/transports/TransportRpmsgSetup.h
packages/ti/trace/SysMin.h
packages/ti/resources/IpcMemory.h
packages/ti/srvmgr/omx/OmxSrvMgr.h
*.tar.gz

# Linux stuff
/autom4te.cache
/config.log
/config.status
/libtool
.deps/
/Makefile
/linux/etc/Makefile
/linux/src/*/Makefile
/linux/src/*/*.lo
/linux/src/*/*.la
/linux/src/*/.libs
/linux/src/*/*.o
/linux/src/*/*.pc
/linux/src/daemon/lad_*
/linux/src/tests/GateMPApp
/linux/src/tests/MessageQApp
/linux/src/tests/MessageQBench
/linux/src/tests/MessageQMulti
/linux/src/tests/MessageQMultiMulti
/linux/src/tests/Msgq100
/linux/src/tests/NameServerApp
/linux/src/tests/nano_test_*
/linux/src/tests/ping_rpmsg
/linux/src/tests/mmrpc_test
/linux/src/tests/fault

# QNX stuff
/qnx/src/*/arm/a.g.le.v7/*.o
/qnx/src/*/arm/a.g.le.v7/*.a
/qnx/src/*/arm/a.g.le.v7/*.a.pinfo
/qnx/src/*/arm/a.le.v7/*.o
/qnx/src/*/arm/a.le.v7/*.a
/qnx/src/*/arm/a.le.v7/*.a.pinfo

/qnx/src/tests/*/arm/o.g.le.v7/*.o
/qnx/src/tests/*/arm/o.g.le.v7/*.map
/qnx/src/tests/*/arm/o.g.le.v7/*.pinfo
/qnx/src/tests/*/arm/o.g.le.v7/GateMPApp_g
/qnx/src/tests/*/arm/o.g.le.v7/MessageQApp_g
/qnx/src/tests/*/arm/o.g.le.v7/MessageQBench_g
/qnx/src/tests/*/arm/o.g.le.v7/MessageQMulti_g
/qnx/src/tests/*/arm/o.g.le.v7/NameServerApp_g
/qnx/src/tests/*/arm/o.g.le.v7/mmrpc_test_g

/qnx/src/tests/*/arm/o.le.v7/*.o
/qnx/src/tests/*/arm/o.le.v7/*.map
/qnx/src/tests/*/arm/o.le.v7/*.pinfo
/qnx/src/tests/*/arm/o.le.v7/GateMPApp
/qnx/src/tests/*/arm/o.le.v7/MessageQApp
/qnx/src/tests/*/arm/o.le.v7/MessageQBench
/qnx/src/tests/*/arm/o.le.v7/MessageQMulti
/qnx/src/tests/*/arm/o.le.v7/NameServerApp
/qnx/src/tests/*/arm/o.le.v7/mmrpc_test

/qnx/src/ipc3x_dev/sharedmemallocator/resmgr/arm/le.v7/shmemallocator
/qnx/src/ipc3x_dev/sharedmemallocator/samples/sharedMemAllocator/usr/arm/le.v7/SharedMemoryAllocatorTestApp
/qnx/src/ipc3x_dev/ti/syslink/build/Qnx/resmgr/arm/le.v7/ipc
/qnx/src/ipc3x_dev/ti/syslink/build/Qnx/traceDaemon/arm/le.v7/ipc_trace_daemon
/qnx/src/ipc3x_dev/ti/syslink/samples/hlos/MessageQCopy/usr/arm/le.v7/mqcopytestapp
/qnx/src/ipc3x_dev/ti/syslink/samples/hlos/benchmark/usr/arm/le.v7/rpmsg-omx-benchmark
/qnx/src/ipc3x_dev/ti/syslink/samples/hlos/hwspinlock/usr/arm/le.v7/HwSpinLockTestApp
/qnx/src/ipc3x_dev/ti/syslink/samples/hlos/rpmsg-omx/usr/arm/le.v7/rpmsg-omx-test
/qnx/src/ipc3x_dev/ti/syslink/samples/hlos/stress/usr/arm/le.v7/rpmsg-omx-stress
/qnx/src/ipc3x_dev/ti/syslink/samples/hlos/deh/usr/arm/le.v7/rpmsg-omx-errors
/qnx/src/ipc3x_dev/ti/syslink/samples/hlos/ti-ipc/arm/le.v7/ti-ipc-test
/qnx/src/ipc3x_dev/ti/syslink/samples/hlos/rpmsg-rpc-stress/usr/arm/le.v7/rpmsg-rpc-stress
/qnx/src/ipc3x_dev/ti/syslink/samples/hlos/rpmsg-rpc-stress/usr/arm/g.le.v7/rpmsg-rpc-stress_g
